.catalog {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $size-46px $size-48px;
  padding: $size-50px $size-40px;

  @media (min-width: 488px) {
    --column-count: 2;
  }

  @media (min-width: 768px) {
    --column-count: 3;
  }

  @media (min-width: 1024px) {
    --column-count: 4;
  }
}
