// Colors
$main-accent: rgba(6, 11, 53, 1);
$secondary: rgba(97, 96, 112, 1);
$blue-accent: rgba(0, 172, 220, 1);
$blue-color: #00acdc;
$nav-link-color: #060b35;
$nav-link-hover-color: #00acdc;
$card-title-hover-color: #34568b;
$button-bg-hover-color: #fff;
$button-hover-color: #00acdc;

// Others
$links-height: 60px;
$transition-speed: 300ms;
$transition-timing: ease-in-out;
